*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff-sans: 'Source Sans Pro', sans-serif;
    --ff-code: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #1a1313;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-sans);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding-top: 2%;
    padding-bottom: 2%;
}

/* fonts */

strong {
    font-weight: var(--fw-bold);
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

/* titles */

.section-title {
    margin-bottom: .25rem;
    font-weight: var(--fw-reg);
}

.section-title strong {
    display: block;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle_accented {
    background: var(--clr-accent);
    font-family: var(--ff-code);
}

/* skills section */

.skills p, li {
    font-size: var(--fs-h3);
}

/* footer */

footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-item {
    margin: 0 .5em;
}

.footer-link:hover, .social-item:hover {
    opacity: .7;
}